<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/catalog.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/thread.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/boardContent.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/settingsMenu.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">Home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">Boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard">Overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        class="coloredIcon"
        id="navPosting">Help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> <span>[</span>
      <a
        href="#"
        class="coloredIcon"
        id="linkTop"></a> <span>/</span> <a
        href="#footer"
        class="coloredIcon"
        id="linkBottom"></a> <span>/</span> <a
        href="index.rss"
        class="coloredIcon"
        id="linkRss">RSS</a> <span>]</span>
    </span>
  </nav>

  <p id="catalogId">
    <span class="title">Catalog of </span>
    <a
      href="."
      id="labelBoard"></a>
  </p>

<center><div id="wholePostingForm">
  <div class="postingForm">

    <form
      class="form-post"
      action="/newThread.js"
      enctype="multipart/form-data"
      method="post">

      <table id="postingForm">
        <tbody>
          <tr id="divName">
            <th>Name</th>
            <td>
              <input
                type="text"
                size="25"
                id="fieldName"
                name="name">
            </td>
          </tr>
          <tr>
            <th>E-mail</th>
            <td>
              <input
                size="25"
                type="text"
                id="fieldEmail"
                name="email">
            </td>
          </tr>
          <tr>
            <th>Subject</th>
            <td>
              <input
                type="text"
                size="25"
                id="fieldSubject"
                name="subject">

              <button
                type="submit"
                id="formButton">Post</button>

              <button
                type="button"
                onClick="postThread()"
                id="jsButton"
                class="hidden">Post</button>
            </td>
          </tr>
          <tr>
            <th>Message*</th>
            <td>
              <textarea
                rows="5"
                cols="35"
                id="fieldMessage"
                name="message"></textarea>
              <input
                type="hidden"
                name="boardUri"
                id="boardIdentifier">

              <p class="small">
                Remember to follow the
                <a
                  href="rules.html"
                  class="rules">rules</a>
              </p>
              <p class="small">
                Max message length: <span id="labelMessageLength"></span>
              </p>
            </td>
          </tr>
          <tr>
            <th>Password</th>
            <td>
              <input
                size="12"
                type="password"
                id="fieldPostingPassword"
                name="password"
                type="password">
              <span class="small">(Used to delete files and postings)</span>
              <div id="noFlagDiv">
                <input
                  type="checkbox"
                  id="checkboxNoFlag"
                  name="noFlag">
                <label for="checkboxSpoiler">Don't show location</label>
              </div>
            </td>
          </tr>


          <tr
            id="alwaysUseBypassDiv"
            class="hidden">
            <th>Bypass Check</th>
            <td><input
                id="alwaysUseBypassCheckBox"
                type="checkbox"
                id="fieldPostingPassword"></td>
          </tr>


          <tr id="flagsDiv">
            <th>Flag</th>
            <td>
              <select
                name="flag"
                id="flagCombobox"></select><img class="flagPreview">
            </td>
          </tr>

          <tr id="divUpload">
            <th>Files</th>

            <td>

              <div
                class="hidden"
                id="dragAndDropDiv">
                <div
                  class="dropzone"
                  id="dropzone">
                  Drag files to upload or
                  <br>
                  click here to select them
                </div>
                <div id="selectedDiv"></div>
              </div>

              <div>
                <input
                  type="file"
                  name="files"
                  id="files"
                  multiple
                  class="fileBrowser">
              </div>

              <div>
                <input
                  type="checkbox"
                  name="spoiler"
                  id="checkboxSpoiler">

                <label for="checkboxSpoiler">Spoiler</label>
              </div>

              <p class="small">
                Max file size: <span id="labelMaxFileSize"></span>
              </p>
              <p class="small">
                Max files: <span id="labelMaxFiles"></span>
              </p>


            </td>

          </tr>

          <tr id="captchaDiv">
            <th>Captcha</th>

            <td>
              <img
                class="captchaImage"
                src="/captcha.js"
                id="captchaImage" />

              <div class="subCaptchaDiv">
                <input
                  type="button"
                  onClick="reloadCaptcha()"
                  value="Reload"
                  id="reloadCaptchaButton"
                  class="hidden">
                <span class="captchaTimer"></span>

                <input
                  name="captcha"
                  type="text"
                  class="captchaField"
                  id="fieldCaptcha"
                  placeholder="Answer">

                <a
                  href="/noCookieCaptcha.js"
                  class="small">No cookies?</a>

              </div>
            </td>
          </tr>

        </tbody>
      </table>

    </form>

  </div></center>

<hr>

<hr>
<div id="topLinksCatalog">
  <div
    id="divTools"
    class="hidden">
[<a href="./">Return</a>] [<a href="#footer">Bottom</a>] [<a href="./catalog.html">Refresh</a>]&nbsp;

<div class="tempRefreshLynx">
    (
    <button
      id="catalogRefreshButton"
      class="catalogLabel"
      onclick="refreshCatalog(true)">Refresh</button>
    <input
      type="checkbox"
      id="autoCatalogRefreshCheckBox"
      onchange="changeCatalogRefresh()">
    <span
      class="catalogLabel"
      id="catalogRefreshLabel">Auto</span>)
</div>

    <span class="catalogLabel" align="right">Search :</span>
    <input
      type="text"
      id="catalogSearchField">

  </div>
</div>
<hr>
  <div
    id="divThreads"
    class="catalogDiv"></div>
<hr>
<div id="bottomLinksCatalog">
[<a href="./">Return</a>] [<a href="#">Top</a>] [<a href="./catalog.html">Refresh</a>]
</div>
<hr>

<footer id="footer">All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
<br />
<div class = "footerBar"><a href="/.static/faq.html#faq1">About</a> • <a href="/meta/">Feedback</a> • <a href="/.static/contact.html#legal">Legal</a> • <a href="/.static/contact.html">Contact</a></div>
</footer>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/crypt.js"></script>
<script src="/.static/js/board.js"></script>
<script src="/.static/js/postCommon.js"></script>
<script src="/.static/js/captchaModal.js"></script>
<script src="/.static/js/thumbs.js"></script>
<script src="/.static/js/catalog.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
