<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/flags.css"
  type="text/css"
  rel="stylesheet" />
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//159.89.231.67/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</head>
<body>

<nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">Home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">Boards</a> <span>/</span> <a
        href="/.static/globalRules.html"
        class="coloredIcon"
        id="navOverboard">Rules</a> <span>/</span> <a
        href="/.static/donate.html"
        class="coloredIcon"
        id="navBoardList">Donate</a> <span>]</span> <span>[</span> <a
        href="/overboard/"
        class="coloredIcon"
        id="navOverboard">All</a> <span>/</span> <a
        href="/overboardsfw/"
        class="coloredIcon"
        id="navPosting">All SFW</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> <span></span>
</nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Flags</legend>

      <form
        action="/createFlag.js"
        method="post"
        enctype="multipart/form-data">
        <input
          type="hidden"
          name="boardUri"
          id="boardIdentifier">

        <div
          class="hidden"
          id="dragAndDropDiv">
          <div
            class="dropzone"
            id="dropzone">
            Drag flags to upload or
            <br>
            click here to select them
          </div>
          <div id="selectedDiv"></div>
        </div>

        <label id="nameLabel">
          Flag Name:
          <input
            name="flagName"
            id="fieldFlagName"
            type="text">
        </label>
        <input
          type="file"
          id="files"
          name="files">
        <input
          type="submit"
          value="Add Flag"
          id="addFormButton">
        <input
          type="button"
          onClick="uploadFlags()"
          class="hidden"
          value="Upload flags"
          id="addJsButton">
        <p class="small">
          Maximum size allowed: <span id="maxSizeLabel"></span>
          <br>
          Maximum name length allowed: <span id="maxNameLengthLabel"></span>
        </p>
      </form>
      <hr />
      <div id="flagsDiv"></div>
    </fieldset>
  </div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/flags.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
