<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/index.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">Boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard">Overboard</a> <span>/</span> <a
        href="/.static/faq.html"
        class="coloredIcon"
        id="navPosting">FAQ</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <div id="indexWrapper">
<header>
    <div
      id="logoBox"
      class="title">
      <img
        src="/.static/logo.png"
        alt="logo" />
    </div>
</header>
<center>
      <h1><p>117chan</p></h1>
<p id="randomQuote" class="nonBoardSubText"></p>

<div class = "gAnnounce">
<p id="globalAnnouncement"></p>
</div>

<div class = "tableOutside">
<h2 class = "table_h2">Welcome to 117chan</h2>
<p><b>117chan</b> (also known as <b>Incelchan</b>, or <b>RobotChan</b>) is an imageboard for male virgins, non-normies, and social outcasts where they can express their feelings, and discuss their lifestyles. 117chan is influenced from similar imageboards such as Wizardchan, Warlockchan, and Virginchan. Please read the <a href="/.static/globalRules.html">rules</a> and <a href="/.static/faq.html">FAQ</a> before posting.</p>
</div>

<div class = "tableOutside">

<h2 class = "table_h2">Boards</h2>
<div class = "boardBox">
<ol style="list-style-type:none;">
<li><b><u>SFW</u></b></li>
<li><a href="/a/">Anime & Manga</a></li>
<li><a href="/meta/">Development and Feedback</a></li>
<li><a href="/g/">Technology</a></li>
<li><a href="/v/">Video Games</a></li>
</ol>
</div>

<div class = "boardBox">
<ol style="list-style-type:none;">
<li><b><u>NSFW</u></b></li>
<li><a href="/pol/">Politics</a></li>
<li><a href="/b/">Random</a></li>
<li><a href="/v9k/">Virgin9000</a></li>
</ol>
</div>

</div>
<div class = "tableOutside">
<h2 class = "table_h2">Stats</h2>
<div id="divStats">
<div id="statBox">
      <span><b>Total posts:</b> <span id="labelTotalPosts"></span>
</div>
<div id="statBox">
      <span><b>Total boards:</b> <span id="labelTotalBoards"></span>
</div>
<div id="statBox">
      <span><b>Total media size:</b> <span id="labelTotalSize"></span>
</div>
<div class="unusedStats">
      <span>Posts in last hour: <span id="labelTotalPPH"></span>
      <span>Media files stored: <span id="labelTotalFiles"></span>
      <span>Unique recent IPs: <span id="labelTotalIps"></span>
</div>
    </div>
  </div>
</div>

<div id="buttonType"></div>

</center>

    <div
      id="divBoards"
      class="topBoards title"></div>

    <div id="divLatestImages"></div>

    <div id="divLatestPosts"></div>

    <div
      id="links"
      class="title">
      <span>[</span>
      <a
        href="/logs.js"
        class="coloredIcon"
        id="linkLogs">Logs</a>
      <span>/</span>
      <a
        href="/graphs.js"
        class="coloredIcon"
        id="linkGraphs">Daily Graphs</a>
      <span>/</span>
      <a
        href="/.static/globalRules.html"
        class="coloredIcon"
        id="linkGlobalRules">Rules</a>
      <span>/</span>
      <a
        href="/.static/faq.html"
        class="coloredIcon"
        id="linkLinks">FAQ</a>
      <span>/</span>
      <a
        href="/.static/contact.html"
        class="coloredIcon"
        id="linkContact">Contact</a>
      <span>/</span>
      <a
        class="coloredIcon"
        id="linkEngine"></a>
      <span>/</span>
      <a
        href="/account.js"
        class="coloredIcon"
        id="linkAccount">Account</a>
      <span>]</span>
    </div>

<div class="footerBar" id="footerBarType" value="A"></div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/randomQuote.js"></script>
<script src="/.static/js/globalAnnouncement.js"></script>
<script src="/.static/js/buttonInject.js"></script>
<script src="/.static/js/footerInject.js"></script>
</html>
