<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//159.89.231.67/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</head>
<body>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="redirect">
    <h4 id="labelMessage"></h4>
    <p>
      Click
      <a id="linkRedirect">here</a>
      to be redirected.
    </p>
  </div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
