<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/overboard.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/thread.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/boardContent.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/settingsMenu.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

<nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">Home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">Boards</a> <span>/</span> <a
        href="/.static/globalRules.html"
        class="coloredIcon"
        id="navOverboard">Rules</a> <span>/</span> <a
        href="/.static/donate.html"
        class="coloredIcon"
        id="navBoardList">Donate</a> <span>]</span> <span>[</span> <a
        href="/overboard/"
        class="coloredIcon"
        id="navOverboard">All</a> <span>/</span> <a
        href="/overboardsfw/"
        class="coloredIcon"
        id="navPosting">All SFW</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> <span>[</span>
      <a
        href="#"
        class="coloredIcon"
        id="linkTop"></a> <span>/</span> <a
        href="#footer"
        class="coloredIcon"
        id="linkBottom"></a> <span>/</span> <a
        href="index.rss"
        class="coloredIcon"
        id="linkRss">RSS</a> <span>]</span>
    </span>
  </nav>

  <header class="boardHeader">
    <img
      id="bannerImage"
      src="/randomBanner.js" />
  </header>
<center>
<p id="randomQuote" class="nonBoardSubText" style="margin-top: 5px"></p>
</center>
<hr>

<div class = "bAnnounce">
<p id="globalAnnouncement"></p>
</div>

<hr>
<div id="topLinksOverboard">
[<a href="/">Return</a>] [<a href="#footer">Bottom</a>] [<a href="/overboard/">Refresh</a>]
</div>


<div class="overboardBody" display="inline">
  <div id="threadList">

    <form
      action="/contentActions.js"
      method="post"
      enctype="multipart/form-data">

      <div id="divThreads"></div>

    </form>
  </div>
</div>


</body>

<div class = "footerOverboard">
<div id="bottomLinksOverboard">
<hr>
[<a href="/">Return</a>] [<a href="#">Top</a>] [<a href="/overboard/">Refresh</a>]
</div>
<hr>
<div class="footerBar" id="footerBarType" value="B"></div>
</div>
<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/overboard.js"></script>
<script src="/.static/js/thumbs.js"></script>
<script src="/.static/js/tooltips.js"></script>
<script src="/.static/js/posting.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/hiding.js"></script>
<script src="/.static/js/mediaHiding.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/embed.js"></script>
<script src="/.static/js/board.js"></script>
<script src="/.static/js/captcha.js"></script>
<script src="/.static/js/postingMenu.js"></script>
<script src="/.static/js/captchaModal.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/globalAnnouncement.js"></script>
<script src="/.static/js/randomQuote.js"></script>
<script src="/.static/js/footerInject.js"></script>

</html>
