<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//159.89.231.67/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</head>
<body>

<nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">Home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">Boards</a> <span>/</span> <a
        href="/.static/globalRules.html"
        class="coloredIcon"
        id="navOverboard">Rules</a> <span>/</span> <a
        href="/.static/donate.html"
        class="coloredIcon"
        id="navBoardList">Donate</a> <span>]</span> <span>[</span> <a
        href="/overboard/"
        class="coloredIcon"
        id="navOverboard">All</a> <span>/</span> <a
        href="/overboardsfw/"
        class="coloredIcon"
        id="navPosting">All SFW</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> <span></span>
</nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Range Ban</legend>

      <form
        action="/placeRangeBan.js"
        method="post"
        enctype="multipart/form-data">
        <label>
          Range to be banned:
          <input
            type="text"
            name="range"
            id="rangeField">
        </label>
        <input
          id="boardIdentifier"
          type="hidden"
          name="boardUri">

        <div class="captchaDiv">

          <img
            class="captchaImage"
            id="captchaImage"
            src="/captcha.js">

          <br>
          <input
            type="button"
            class="hidden"
            id="reloadCaptchaButton"
            onclick="reloadCaptcha()"
            value="Reload">
          <span class="captchaTimer"></span>
          <br>

          <input
            name="captcha"
            type="text"
            class="captchaField"
            id="fieldCaptcha"
            placeholder="Answer">
          <a
            class="small"
            href="/noCookieCaptcha.js">No cookies?</a>

        </div>

        <input
          type="submit"
          id="createFormButton"
          value="Place Range Ban">
        <input
          type="button"
          id="createJsButton"
          onClick="placeRangeBan()"
          class="hidden"
          value="Place Range Ban">
      </form>
      <div id="rangeBansDiv"></div>
    </fieldset>
  </div>
</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/rangeBans.js"></script>
<script src="/.static/js/captcha.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
