/* NewFapChan.css - Brings FapChan to LynxChan & Mewch */
/* Written (horribly) by deysu */
body {
  font-family: Tahoma;
  background-color: #292929 !important;
  color: white;
  background: 0; /* Why does this work? Wtf? */
}


.nameLink {
  color: #EEBB99;
}

.hideFileButton {
  color: #EEBB99;
}
#watchedMenu, .floatingMenu {
  background: #292929;
}
.labelSubject {
  color: #F10000;
  font-weight: bold;
  font-size: 120%;
}

.linkNameNoEmailName, .linkName, .linkName:hover, .embedButton {
  color: #EEBB99;
  text-decoration: none;
}

.innerPost {
  background-color: #6C5F59;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}

#labelName {
  color: #fff;
}

#labelDescription {
  color: #FEA500;
}

.originalNameLink {
  color: #E9BB99;
  box-shadow: none;
}

nav {
  border-bottom: 1px solid #6C5F59;
  background-color: #6C5F59;
  color: #fff;
}

hr {
  height: 0px;
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: #fff;
}

.title {
  color: #fff;
}

#labelBoard {
  color: #fff;
}

a:hover, .hideButton:hover, .unhideButton:hover, .embedButton:hover,
  .navClickable:hover, #closeWatcherMenuButton:hover, .watchButton:hover,
  .watchedCellCloseButton:hover, .hideFileButton:hover {
  text-shadow: none;
}

.linkQuote:hover, .linkSelf:hover {
	color: #800000;
}

.coloredIcon, .watchButton, .hideButton {
  color: #EEBB99;
}

/* wew */
#navLinkHome, #navBoardList, #navOverboard, #navPosting, #watcherButton, #navCatalog {
  color: #EEBB99;
}

#linkTop, #linkBottom, #linkBack, #navCatalog, #linkRss {
  color: #EEBB99;
}


#divTools {
  color: #EEBB99;
}

#newPostFieldset legend {
  color: #fff;
}

#newPostFieldset .small, .rules {
  color: white;
}

.dropzone {
  color: black;
  border: 1px dashed #6C5F59;
}

.reportFieldset, .reportFieldset .small {
  color: white;
  border: 1px solid;
}

#boardContentLinks {
  color: #fff;
}

#linkManagement, #linkModeration, #linkMod {
  color: #EEBB99;
}

.divRefresh label {
  color: #EEBB99;
}

.divPages {
  color: #fff;
}

.divPages a {
  color: #EEBB99;
}

.panelBacklinks a, .quoteLink {
  color: #EEBB99;
}

/* some hover stuff */
.linkSelf:hover, .linkQuote:hover, .linkPreview:hover {
  color: #800000;
  text-decoration: none;
}

.linkReply {
  color: #EEBB99;
}

input[type="checkbox"] + label {
  color: #fff;
}

a {
  text-decoration: none;
  color: #eebb99;
}
#settingsFieldset {
  text-align: left;
  color: #EEBB99;
}

#settingsFieldset {
  border: 1px dashed #EEBB99;
  padding: 1em;
  display: inline-block;
  text-align: left;
}

footer {
  text-align: center;
  font-size: 75%;
  color: #EEBB99;
}

.subTitle, .boardHeader p#labelDescription {
font-size: 8pt;
color: #EEBB99;
}

.markedPost {
  background: #6C5F59;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
.small {
    font-size: 75%;
    text-decoration: none;
    color: #eebb99;
}

#postingForm th {
    background: #292929;
    border: 0;
    color: white;
    font-weight: 800;
    text-align: left;
    font-family: "Tahoma";
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}
#postingForm td {
    text-align: left;
    background: #292929;
}
.captchaTimer {
    font-size: 80%;
    color: white;
}

.indexBottomMenu, .divDescription, .search form {
  color: #fff;
}

/* Quick Reply */
/* Credits to nanotech@32ch.org for inspiration */

#quick-reply th .handle {
  color: #fff;
}

#quick-reply table {
  border: 1px solid #292929;
}

#quick-reply table {
  background: #6C5F59;
}

#dropzoneQr {
  border: 1px dashed #EEBB99;
}

.postInfo, .opHead, .divMessage, .panelUploads, .panelIp, .panelProxyIp, .contentOmissionIndicator, .labelOmission, .labelId {
    color: #ffffff;
}
.linkQuote, .linkSelf{
  color:#ffffff;
}
#divLatestPosts .latestPostCell{
  background-color:#EEBB99;
  color:black;
}
.linkPost {
  color:black;
}
