.small {
  font-size: 10pt;
  text-decoration: none;
  font-family: arial, helvetica, sans-serif;
;
}

.clearer {
  clear: both;
}

.small a {
  text-decoration: none;
}

.imgLink img, .latestImageCell img, .mediaCell img, .catalogCell img {
  image-orientation: from-image;
}

#themeSelector {
  height: 20px;
}

h3, p, label {
 margin: 0.10em 0;
}

hr {
  height: 0px;
  border-width: 1px medium;
  border-style: solid none none;
  border-color: #282a2e;
}

.coloredIcon {
  color: #81a2be;
  cursor: pointer
}

.coloredIcon::before {
  font-family: 'Icons';
}

#navLinkSpan .coloredIcon:before, #navOptionsSpan .coloredIcon:before,
  #links .coloredIcon:before {
  margin-right: 0.25em;
}

.links {
  margin-bottm: -25px;
}

a {
  color: #81a2be;
  text-decoration: none;
}

a:hover, .glowOnHover:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 0px #81a2be;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input, select, textarea {
   background: #FFFFFF;
   color: #000000;
   font-family: arial, helvetica, sans-serif;
}

textarea {
  font-size: 10pt;
}

input[type=button], button, .selectedCell, #searchButton
  {
  font-family: arial, helvetica, sans-serif;
  font-size: 100%;
  cursor: pointer; 
  border-radius: 0px;
  border: 1px solid #AAAAAA;
}

.dropzone {
  background: #DADCE3;
  border: 3px dashed rgba(125, 125, 125, 0.4);
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.5);
  font-family: arial, helvetica, sans-serif;;
  font-weight: normal;
  font-size: 10pt;
  width: 300px;
}

input[type=submit] {
  padding-left: 0.25em;
  font-family: arial, helvetica, sans-serif;;
  font-size: 80%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.unhideButton {
  font-weight: bold;
}

.fileBrowser {
  background: none;
}

/* import resources here; external CSS, fonts, etc */
@font-face {
  font-family: arial, helvetica, sans-serif;
  src: url('../hack-regular-webfont.eot?v=2.018');
  src: url('../hack-regular-webfont.eot?#iefix&v=2.018')
    format('embedded-opentype'),
    url('../hack-regular-webfont.woff2?v=2.018') format('woff2'),
    url('../hack-regular-webfont.woff?v=2.018') format('woff'),
    url('../hack-regular-webfont.ttf?v=2.018') format('truetype'),
    url('../hack-regular-webfont.svg?v=2.018#hackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icons';
  src: url('../open-iconic.eot');
  src: url('../open-iconic.eot?#iconic-sm') format('embedded-opentype'),
    url('../open-iconic.woff') format('woff'), url('../open-iconic.ttf')
    format('truetype'), url('../open-iconic.otf') format('opentype'),
    url('../open-iconic.svg#iconic-sm') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* body styles, inherited by whole page */
body {
  color: #c5c8c6;
  background: #1d1f21;
  font-family: arial, helvetica, sans-serif;;
  font-size: 10pt;
  margin: 0px;
}

/* header and nav / top of page styles */
header {
  width: 50%;
  margin: 3em auto 0 auto;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282a2e;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 10pt;
  text-align: center;
  z-index: 1;
  padding-top; 2px;
  border-bottom: 1px solid #000;
  min-height: 20px;
  max-height: 20px;
}

nav span, nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 0.2em;
}

#navLinkSpan {
  float: left;
}

#navOptionsSpan {
  float: right;
}

#navLinkHome:before {
}

#navBoardList:before {
}

#linkOverboard:before, #navOverboard:before {
}

#settingsButton:before {
}

#navPosting:before {
}

#navCatalog:before {
  content: "\e072";
}

#watcherButton::before {
}

.watchButton::before {
  content: '\e065';
}

#linkRss:before {
  content: "\e0b7";
}

#linkTop:before {
  content: "\e012";
}

#linkBottom:before {
  content: "\e00f";
}

#linkBack:before {
  content: "\e003";
}

#closeWatcherMenuButton::before, .close-btn::before, .watchedCellCloseButton::before {
  content: '\e0db';
}

/* board list */
#divPages {
  display: inline-block;
}

#divPages a {
  text-decoration: none;
  padding: 0 0.25em;
}

a.rules:after {
  font-family: Icons;
  content: "\e052";
  margin-right: 0.5em;
  height: 80%;
  font-size: 80%;
  padding-left: 0.25em;
  vertical-align: middle;
}

/* markdown */
.greenText {
  color: #789922;
}

.redText {
  color: #AF0A0F;
  font-weight: bold;
  font-size: 125%;
}

span.spoiler {
  background: #000;
  color: #000;
  padding: 0 1px;
}

.spoiler:hover {
  color: #c5c8c6;
  background: none;
}

.red {
  color: #117743;
}

/* CSS for pages that deal with site and account settings and bans */
#settingsWrapper {
  text-align: center;
  width: 80%;
  margin: 2em auto;
}

#settingsFieldset {
  border: 1px solid #282a2e;
  padding: 1em;
  display: inline-block;
  text-align: left;
}

#settingsWrapper input {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.banners {
  margin: 1em;
  width: auto;
  padding: 0.5em;
}

#settingsFieldset textarea {
  display: block;
  height: 5em;
}

#settingsFieldset label {
  display: block;
}

#settingsFieldset label input {
  display: inline-block;
}

#settingsWrapper .captchaDiv input {
  display: inline-block;
}

.subCaptchaDiv {
  text-align: left;
}

.captchaTimer {
  font-size: 100%;
}

input.wide, textarea.wide {
  width: 100%;
}

#redirect, #maint {
  text-align: center;
}

#labelCaptchaId {
  color: #ff0000;
}

#staticPageWrapper {
  margin: 2em auto;
  text-align: center;
}

#staticPageFieldset {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #282a2e;
  text-align: left;
}

/* footer styles */
footer {
  width: 100%;
  margin: 2em 0px 2em 0px;
  text-align: center;
  font-size: 8pt;
  font-family: arial, helvetica, sans-serif;;
}

/* this has to go down here to override anything above it */
.hidden {
  display: none;
}

#settingsWrapper input.hidden {
  display: none;
}

.floatingMenu {
  border: 1px solid #282a2e;
  background: #1d1f21;
  padding: 0.25em;
}

.floatingMenu .headerLabel {
  font-size: 80%;
}

.floatingMenu .header, .floatingMenu .headerLabel {
  cursor: pointer;
}

#divRemember input {
  display: inline;
}

.labelSubject, noEmailName {
  color: #b294bb;
}

.panelBacklinks a {
  font-weight: normal;
  font-size: 11px;
}

/*Board header*/
.boardHeader p {
  color: #c5c8c6;
  font-weight: none;
}

#postingForm td {
  background-color: transparent;
  text-align: left;
  padding: 0px;
}

#showPostWrapper {
  display: none;
}

#postingForm th {
  background: #282a2e;
  font-weight: bold;
  text-align: left;
  font-family: arial, helvetica, sans-serif;
  width: 85px;
  padding-left: 5px;
  border: 1px solid #000;
  font-size: 10pt;
}

#fieldMessage {
  width: 350px;
  height: 75px;
  font-size: 10pt;
}

#postingForm label {
  font-family: arial, helvetica, sans-serif;
}

.flagPreview {
  height: 20px;
}

.reportFieldset {
  border: 2px solid #282a2e;
}

/* Hides the linkPreview or the [Preview] -- Temporary */
.linkPreview {
  display: none;
}

.quoteTooltip {
  border-style: 0px none none;
}

#newThreadText {
  font-size: 18pt;
  font-weight: bold;
  font-family: arial, helvetica, sans-serif;
  padding-bottom: 10px;
}

.noEmailName {
  color: #c5c8c6;
}

.topLinks, #topLinksOverboard {
   margin-bottom: -8px;
}

.topLinks, #bottomLinksCatalog, #topLinksOverboard, #bottomLinksOverboard {
   padding-inline-start: 12px;
}

#divMessage {
   font-weight: bold;
}

#alwaysUseBypassDiv {
   margin-right: -27px;
   margin-left: -2px;
}

.catalogCell {
  height: 25em;
  font-size: 13pt;
}

.embedButton {
  color: #81A2BE;
}

#newPostFieldset, #quick-reply table, .modalDecorationPanel {
  border: 1px solid #282a2e;
}

.modalDecorationPanel {
  background: #1d1f21;
}

.markedPost {
  background: #1d1d21;
  border: 1px solid #000;
}

.linkName.noEmailName:hover, a:link:hover, a:hover, .linkQuote:hover, .linkQuote:focus {
  color: #81a2be;
}

.bottomPostReply {
  margin-top: -15px;
}

#boardContentLinks {
  text-align: right;
}

#catalogId, .boardHeader p#labelName, #labelName {
  font-family: 'Tahoma', sans-serif;  
  font-size: 24pt;
  font-weight: bold;
}

#postingForm {
  display: inline-block;
}

#wholePostingForm {
  display: none;
}

.footerBar {
  padding-top: 10px;
}

#divBoards {
  font-size: 11pt;
}

#postingForm button, #qrbutton {
  border: 1px solid #AAAAAA;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
  color: #000;
  background-color: f4f5f5;
  width: 5em;
  border-radius: 3px;
}

.linkSelf, .linkQuote {
  color: #c5c8c6
}

.tempRefreshLynx {
  display: none;
}

.tableOutside {
  margin-top: 10px;
  width: 700px;
  max-width: 700px;
  text-align: left;
  border: 1px solid #000;
  overflow-wrap: break-word;
}

.table_h2 {
  margin: 0;
  padding: 3px 5px;
  font-size: 11pt;
  font-weight: bold;
  background-color: #282A2E;
}

div.tableOutside p {
  padding: 0px 10px;
  overflow-wrap: break-word;
  padding-top: 9px;
  padding-bottom: 9px;
}

.nonBoardSubText {
  padding-bottom: 25px;
  margin-top: -15px;
}

.boardBox {
  display: inline-block;
  vertical-align: top;
}

.inner_h2 {
  margin: 0;
  padding: 3px 5px;
  font-size: 11pt;
  font-weight: bold;
  font-weight: underline;
}

.unusedStats {
  display: none;
}

#statBox {
  text-align: center;
  display: inline-block;
  width: 230px;
  padding-top: 9px;
  padding-bottom: 9px;
}

#links {
  margin-top: -20px;
  display: none;
}

.linkBoxes {
  padding-top: 10px;
}

.linkBoxes li.first {
  border-left: 1px solid #000;
}

.linkBoxes li {
  display: block;
  float: left;
  border: 1px solid #000;
  border-left: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2px;
  margin-top: -1px;
  padding-top: 2px;
  list-style: none;
  background: #282A2E;
}

.linkBoxes ul {
  display: table;
  margin: auto;
  padding: 0;
}

.linkBoxes a {
  color: #c5c8c6;
}

.bAnnounce, .gAnnounce {
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #FC0000;
  font-weight: bold;
  text-align: center;
}

.gAnnounce {
  max-width: 700px;
  margin-bottom: -10px;
  overflow-wrap: break-word;
}

.bAnnounce {
  color: #FC0000;
  font-size: 10pt;
}

.indicatorSfw {
  font-weight: bold;
}

.originalNameLink {
  text-decoration: underline;
}

#divTools {
  margin-bottom: -4px;
  margin-top: -3px;
}

#watcherButton {
  margin-left: -5px;
}