body {
    background: #eef8f0;
    color: #364041;
    font-family: arial, helvetica, sans-serif;
}
a {
    color: #34345c;
}

.innerPost {
    background-color: #d6f0da;
    border: 1px solid #cccccc;
    border-left: none;
    border-top: none;
}
.markedPost {
    background-color: #A8BDAB;
    border: 1px solid #000;
}
.divMessage {
    color: #364041;
}
.labelCreated, 
.linkQuote, 
.linkSelf {
    color: #34345c;
}
.labelSubject {
    color: #0f0c5d;
}
.labelOmission{
    color: #707070;
}
#watchedMenu {
    background: #d6f0da;
}
nav {
    background-color: #d6f0da;
    border-bottom: none;
}
#postingForm th {
    background-color: #d6f0da;
    color: #364041;
    border: 1px solid #cccccc;
}
#postingForm td {
    background-color: transparent;
}
#quick-reply table {
    background-color: #eef8f0;
}
#quick-reply table {
    padding: 0em;
}
#quick-reply th {
    background-color: #d6f0da;
}
#divLatestPosts .latestPostCell {
    background: #F0E0D6;
}
.floatingMenu {
    background-color: #d6f0da;
    border: 1px solid #cccccc;
}

.coloredIcon {
   color: #364041;
}

.linkName.noEmailName {
  color: #117743;
}

.table_h2 {
  background: #d6f0da;
}

.linkBoxes li, .tableOutside {
  border: 1px solid #cccccc;
}

.linkBoxes li {
  background: #d6f0da;
  border-left: none;
}

.linkBoxes li.first {
  border-left: 1px solid #cccccc;
}

.boardBox a, .linkBoxes a, .span {
  color: #364041;
}

.tableOutside {
  background: #eef8f0;
}

.modalDecorationPanel {
  background: #d6f0da;
}

#labelName, #labelDescription {
  color: #34345c;
} 

hr {
  border-color: #cccccc;
}

.reportFieldset {
  border: 1px solid #cccccc;
}

span.spoiler:hover {
  color: #364041;
}

#settingsFieldset {
  border: 1px solid #cccccc;
}

a:hover, #watcherButton:hover {
    color:#FF3300 !important;
   text-decoration: underline;
}

.linkBoxes a {
   color: #364041;
}

code .redText, code span.spoiler .redText {
  color: #364041;
}