/* Lynx Photon */
/* by deysu */
/* mewch.net */
body {
  background: #EEEEEE;
  color: #000;  
}
.innerPost {  /* normal reply */
  background-color: #DDDDDD;
  box-shadow: none;
  border: 1px solid #CCC;
  border-left: none;
  border-top: 1px solid #CCC;
  border-radius: 3px;
}
.markedPost { /* highlighted reply */
  background-color: #CCC;
  box-shadow: none;
  border: 1px solid #CCC;
}
a {
    color: #FF6600;
}
a:hover, #watcherButton:hover {
    color:#FF3300!important;
  text-decoration: underline;
}

#labelName, #labelDescription, catalogText { /* Board Title */
    color: #004794;
    font-family: arial, helvetica, sans-serif;
}

.linkName, .linkName:hover {
    color: #004794 !important;
}
nav { /* Top navigation bar */
    background-color: #EEEEEE;
    color: #000;
}

.labelId {
    text-shadow: none;
}
.floatingMenu, #watchedMenu {
  background: #DDDDDD;
}
#watcherButton {
    color: #FF6600;
}
.linkQuote, .linkSelf {
    color: #000 !important;
}
#postingForm td {
    background-color: #EEEEEE;
}
#postingForm th {
    background-color: #DDD;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #CCC;
}
#divLatestPosts .latestPostCell {
    background: #DDDDDD;
    border: 1px solid #DDDDDD;
}

#quick-reply table {
  background: #EEEEEE;
}

#quick-reply th {
  background: #CCC;
}

hr {
  border-color: #DDD;
}

.labelSubject, .noEmailName {
  color: #111;
}

.coloredIcon {
  color: #FF6600;
}

.table_h2, .linkBoxes li {
  background-color: #DDD;
}

.tableOutside, .linkBoxes li {
  border: 1px solid #CCC;
}

.linkBoxes li {
  border: 1px solid #CCC;
  border-left: none;
}

.linkBoxes li.first {
  border-left: 1px solid #CCC;
}

.linkBoxes a {
  color: #000;
}

.reportFieldset {
  border: 1px solid #DDD;
}

span.spoiler:hover {
  color: #000;
}

code .redText, code span.spoiler .redText {
  color: #000000;
}