body {
    background: #EEF2FF url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUKJFjunj1HRMDAwNWzMiILsZIpDpcarDrx28GI17zUeUYiXITLrdg08PISKyfGfGYgT38cLkRm50Dbx9944KYdIUrbohNV0SoAwD1FwRwgMmDbgAAAABJRU5ErkJggg==') repeat-x 50% 0%;
    color: #000000;
    font-family: arial, helvetica, sans-serif;
}

a, .coloredIcon {
  color: #34345C
}

a:hover, #watcherButton:hover {
    color:#FF3300!important;
  text-decoration: underline;
}

.innerPost {
    background-color: #CED1E7;
    border: 1px solid #B7C5D9;
    border-left: none;
    border-top: none;
}
.markedPost {
    background-color: #D6BAD0;
    border: 1px solid #B7C5D9;
    border-left: none;
}
nav {
    background-color: #D5D9F0;
    border-bottom: none;
}
#postingForm th {
    background-color: #9786EA;
}
#postingForm td {
    background-color: transparent;
}
#quick-reply table {
    background-color: #D6DAF0;
    border: 1px solid #000;
}
#quick-reply table {
    padding: 0em;
}
#quick-reply th {
    background-color: #9988EE;
}
#divLatestPosts .latestPostCell {
    background: #D6BAD0;
}
.floatingMenu {
    background-color: #BEC1D5;
    border: 1px solid #000;
}

.linkName.noEmailName {
  color: #117743;
}

.labelSubject {
  color: #0F0C5D;
}

.linkSelf, .linkQuote, .linkBoxes a {
  color: #000000;
}

hr {
  border-color: #B7C5D9;
}

#labelName, #labelDescription, .catalogText {
  color: #AF0A0F;
} 

.table_h2 {
  background-color: #98E;
}

.linkBoxes li {
  background: #C1B7F4;
}

.modalDecorationPanel {
  background: #CED1E7;
}

.reportFieldset {
  border: 1px solid #B7C5D9;
}

span.spoiler:hover {
  color: #000;
}

code .redText, code span.spoiler .redText {
  color: #000000;
}