/* Yotsuba B */
nav {
  background-color: #D6DAF0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  border-bottom: 1px solid #89A;
  margin-left: -8px;
}
body {  background: #EEF2FF url("https://media.8ch.net/stylesheets/img/fade-blue.png") repeat-x 50% 0%; }
#postingForm { padding: 3px; background: #D6DAF0; border: 1px solid #C6CAE0; }
#postingForm th { background: #98E; border:0; font-variant: small-caps; text-align: center; padding-left: 0px; border: 1px solid #87D; }
#postingForm > tbody:nth-child(1) > tr:nth-child(2) > th:nth-child(1) { font-size:0px; }
#postingForm > tbody:nth-child(1) > tr:nth-child(2) > th:nth-child(1):before { font-size: 10pt; content:"Options"; }
#postingForm td { background: 0; }
hr { border-top: 1px solid #B7C5D9; }
.innerPost, .markedPost {
  background: #D6DAF0;
  border-width: 1px;
  border-style: none solid solid none;
  border-color: #B7C5D9;
  box-shadow: none;
}
.markedPost { background: #D6BAD0; }
.title, .divMessage, input, select, textarea, .contentOmissionIndicator .labelOmission { font-size: 13px; }
.title { font-weight: bold; }
.contentOmissionIndicator .labelOmission { color: #707070; }
#quick-reply th { background: #98E; }
#quick-reply table { background: rgb(214, 218, 240); border: 1px solid #89A; }
.close-btn { font-size: 10pt; }
#divLatestPosts .latestPostCell { background: #D6DAF0; border: #B7C5D9; }
.floatingMenu, .modalDecorationPanel {
  background-color: rgb(183, 197, 217);
  border: 1px solid #666;
  font-size:10pt;
}
.floatingMenu hr { border-top: 1px solid #89A; margin: 2px; }
div#panelMessage hr, input.deletionCheckBox, #themeSelector, #flagCombobox > option:nth-child(1), .watchButton, 
.innerPost .hideButton, .boardHeader p#labelDescription { display:none; }
a:hover { color:red; }
.boardHeader p#labelName {
  font-family: tahoma;
  letter-spacing: -2px;
  font-size: 20pt;
  margin: 1em 0;
}
#postingForm button { margin:0; padding: 0; width: 79px; height: 19px; border-radius: 0px; position: relative; top: 1px; }
p:nth-child(4), p.small:nth-child(5) { display: none; }

/* Flags */
.imgFlag {
  transition: all ease-out .25s;
  max-width: 32px;
  max-height: 24px;
}
.imgFlag:hover {
  transition: all ease-in .25s;
  max-width: 32px;
  max-height: 32px;
}

/* Board Announcement */
#divMessage {
  color: #000;
  background: #D6DAF0;
  border: 1px #B7C5D9 solid;
  text-align: left;
  font-weight: normal;
  padding: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
  max-height: 320px;
}

#divMessage span.redText { text-align: center; display: block;}
#divMessage span.redText strong { color:blue; }

/* Post Counter */
body { counter-reset:postcount; }    
#ipDelete + #panelMessage + #threadList .linkQuote:after { counter-increment: postcount; content: "#" counter(postcount); color: #0F6; text-shadow: 0px 1px 1px gray, 0px 1px 1px gray, 0px 0px 1px gray, 0px 0px 1px gray; margin-left: 0.5em; margin-right: 1em; }
