body {
    background: #FFFFEE url(' data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAAWElEQVR4AaWSwQ3AIAwDbfbfpdt0nKrPUp3QCfHgkfjsCMh47mskmU5HGvbmuuh9dVce8M4it/SfMZglGeZx/ccyu/Vsv4/N29f331AY5Bi3+hdo4A92+wXvCwR9mXztrAAAAABJRU5ErkJggg==') repeat-x 50% 0%;
    color: #800000;
    font-family: arial, helvetica, sans-serif;
}
a {
    color: #000080;
}
a:hover {
    color: red;
}
.innerPost {
    background-color: #EADBD1;
    border: 1px solid #D9BFB7;
    border-left: none;
    border-top: none;
}
.markedPost {
    background-color: #F0C0B0;
}
.divMessage {
    color: #800000;
}
.labelCreated, 
.linkQuote, 
.linkSelf {
    color: #800000;
}
.labelSubject {
    color: #cc1105;
}
.labelOmission{
    color: #707070;
}
nav {
    background-color: #EFDFD5;
    border-bottom: none;
}
#postingForm th {
    background-color: #EEAA88;
    color: #800000;
}
#postingForm td {
    background-color: transparent;
}
#quick-reply table {
    background-color: #D6DAF0;
    border: none;
}
#quick-reply table {
    padding: 0em;
}
#quick-reply th {
    background-color: #9988EE;
}
#divLatestPosts .latestPostCell {
    background: #F0E0D6;
}

